/* default */
* {
    margin:0;
    padding:0;
  }

a {
    text-decoration:none;
}

ol, ul {
    list-style: none;
  }

input {
    display: block;
}

/* global 버튼 css */

.form-box {

    margin: 100px auto;
    width: 50%;
    padding: 10px;
    text-align: center;
}

.input-style-1 {
    margin: 5px auto;
    width: 200px;
    height: 30px;
    border: 2px solid #6558f5;
    border-radius: 4px;
    padding-left: 5px;
}

.btn {
    margin: 5px auto;
    width: 210px;
    height: 30px;
    color: white;
    border: 2px solid #6558f5;
    border-radius: 4px;
    background-color:#6558f5;
    cursor:pointer;
}










/* login 페이지 관련 */

.form-box a {
    margin-top: 300px;
    color:rgb(53, 35, 255);
    text-decoration: rgb(199,195,251) underline;
    text-underline-position: under;
}


/* signup 회원가입 관련*/







/*  mainpage  */
.book-card {
    display:inline-flex;
    flex-direction: column;
    border: red solid 3px;
    width:100px;
    height:200px;
    margin: 30px 15px;

    align-items: center;
    text-align:center;
    font-size:10px;
    /* box-sizing: border-box; */
}

.book-card .bookcover {

    margin-top: 20px;
    font-size:10px;
    width:50px;
    height:50px;
}


.book-card .title {
    font-size:10px;
}

.book-card .stars {
    
}

.book-card .inventory {

}
.book-card img {
    width:100px;
    height:100px;
}


/* detail page */
.detail-bookcover {
    border: red solid 1px;
}

.detail-info {
    border: red solid 1px;
}

.detail-description {
    border: red solid 1px;
}

.detail-reply input {
    display: inline;
}