/* default */
* {
    margin:0;
    padding:0;
  }

a {
    text-decoration:none;
}


ol, ul {
    list-style: none;
  }

input {
    display: block;
}

/* global css */

/* main*/

.main{
    background-color: #f7f9fa;
    /* border: red 1px solid; */
    padding:30px;
}

.detail {
    background-color: white;
}

.form-box {
    margin: 100px auto;
    width: 50%;
    padding: 10px;
    text-align: center;
}

.input-style-1 {
    margin: 5px auto;
    width: 200px;
    height: 30px;
    border-radius: 4px;
    padding-left: 5px;
}

.btn {
    margin: 5px auto;
    width: 60%;
    height: 30px;
    color: white;
    border: 2px solid #6558f5;
    border-radius: 4px;
    background-color:#6558f5;
    cursor:pointer;
}

.btn a{
    color: white;
    font-size: 10px;
}

.book-card {
    display:inline-flex;
    flex-direction: column;
    background-color: white;
    border: 2px rgba(128, 128, 128, 0.521) solid;
    width:100px;
    height:200px;
    margin: 30px 15px;
    padding: 10px 5px;
    
    align-items: center;
    text-align:center;
    vertical-align: middle;
    font-size:10px;
}


.book-card img {
    width: auto;
    height: auto;
    max-width: 70px;
    max-height: 70px;
    object-fit: fill;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

.book-title{
    margin-top:10px;
    height:40px;
    font-size: 10px;
    text-align: center;
    
}

.book-title a{
    text-decoration: none;
    color:black;
    vertical-align: middle;
}

.book-star {
    margin-top: 5px;
}
.book-stock{
    /* border: red 1px solid; */
    margin-top: 5px;
}
.book-rent{
    /* border: red 1px solid; */
    margin-top: 5px;
    height: 23px;
}




/* login 페이지 관련 */

.form-box a {
    margin-top: 300px;
    color:rgb(53, 35, 255);
    text-decoration: rgb(199,195,251) underline;
    text-underline-position: under;
}

#signin {
    width:210px;
}


/* topnav */

.topnav {
    width:100%;
    height:38px;
    border-bottom: 2px rgba(128, 128, 128, 0.521) solid;
    margin: 1px auto;
}

.topnav .left{
    float:left;
    margin-left:10px;
    margin-top: 10px;
}

.topnav .right{
    float:right;
    margin: 10px 20px;
}

.topnav a{
    font-size:small;
    text-decoration: none;
    color:black;
}

/* detail */

/* row-1 */
.detail > .detail-row {
    padding: 50px 50px 0 50px ;
}
.detail > .detail-row > div {
    margin: auto;
    height: 30%;
    align-items: center;
    vertical-align: middle;
    display: inline-block;
}

.detail-image img {
    margin-left: 25px;
    width:100%;
    height:100%;
    max-width: 200px;
    max-height: 200px;
}

.detail > .detail-row > .detail-info {
    /* margin-left: 250px; */
    float:right;
    margin-right: 10px;
    border:2px rgba(128, 128, 128, 0.521) solid;
}

.detail > .detail-row > .detail-info > .col {
    display:inline-block;
}

.detail > .detail-row > .detail-info > .col > p{
    margin: 10px 15px;
}

.detail > .detail-title{
    margin: 10px 0 10px 65px;
}

/* row-2 */
.detail > .detail-description {
    border:2px rgba(128, 128, 128, 0.521) solid;
    margin: 0px 60px;
    padding: 10px;
}

/* row-3 */
.detail > .detail-reply {
    border:2px rgba(128, 128, 128, 0.521) solid;
    margin: 0px 60px;
    padding: 10px;
}

/* 별점 */

/* .rating{
    display:none;
} */


.rating > input[type=checkbox]{
    display: inline;
    background-image: url('./star.png');
    height: 30px;
    width: 30px;
}



.box{
    display:inline;
}

#reply {
    width:99%;
}

#reply-submit{
    width:10%;
    margin-right: 0px;
}