/* default */
* {
    margin:0;
    padding:0;
  }

a {
    text-decoration:none;
}

ol, ul {
    list-style: none;
  }

input {
    display: block;
}

/* global 버튼 css */
.btn {
    color: white;
    background-color:#6558f5;
    cursor:pointer;
}

#container {
    margin: 100px auto;
    float:left;
}

.topnav {
    display: inline;
    border: red 1px solid;
}


/* login 페이지 관련 */
#login {
    /* color:rgb(197,206,214); */
    color: green;
    margin: auto;
    margin-top: 50px;
    width: 200px;
    padding: 10px;
    text-align: center;
}



#login input {
    margin: 5px auto;
    width: 100%;
    height: 30px;
    width: 190px;
    border: 2px solid #6558f5;
    border-radius: 4px;
    padding-left: 5px;
}

#login input[type="text"] {
    border: 2px solid rgba(197,206,214, 0.7);
    width:180px;
    
}

#login div {
    margin-top: 50px;
}

#login div a {
    margin-top: 300px;
    color:rgb(133, 122, 248);
    text-decoration: rgb(199,195,251) underline;
}


/*  mainpage  */
.book-card {
    display:inline-flex;
    flex-direction: column;
    border: red solid 3px;
    width:100px;
    height:200px;
    margin: 30px 15px;

    align-items: center;
    text-align:center;
    font-size:10px;
    /* box-sizing: border-box; */
}

.book-card .b {

    margin-top: 20px;
    font-size:10px;
    width:30px;
    height:30px;
}


.book-card .title {
    font-size:10px;
}

.book-card .stars {
    
}

.book-card .inventory {

}
.book-card img {
    width:100%;
}


/* detail page */
.detail-bookcover {
    border: red solid 1px;
}

.detail-info {
    border: red solid 1px;
}

.detail-description {
    border: red solid 1px;
}

.detail-reply input {
    display: inline;
}