{% extends 'layout.html' %}
{% block main %}
    <h1>메인페이지입니다.</h1>
    
    <div>

        {% for book in contents %}
            <div class='book-card'>

                <div class="bookcover">
                    <!-- <img src={{ book.img }} alt=""> -->
                    <!-- <img src="../data/bookcover/1.png" alt=""> -->
                </div>
                <a href="/detail/{{ book.id }}" class="title">{{ book.book_name }}</a>
                <div class="stars">* * * * *</div>
                <div class="inventory">x권 남음</div>
                <button>대여하기</button>
            </div>
        {% endfor %}

    </div>

{% endblock %}